*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 2rem;
    color: red;
}

.nav-link{
    color: rgb(10, 10, 94);
}
.nav-link:hover{
    color: red;
}

.nav-item{
    color: rgb(7, 7, 78);
    padding-left: 35px;
}

.btn0{
    position: absolute;
    left: -150px;
    width: 150px;
    height: 50px;
    background: #da2461;
    transition: 1s;
    border: none;
}

.wrapper{
    position: relative;
    overflow: hidden;
    width: 150px;
    background-color: #fb246a;
    margin-right: 50;
    cursor: pointer;
    left: 30;
}

#text-register{
    font-family: arial;
    position: absolute;
    padding-left: 30;
    padding-top: 5;
    color: white;   
    font-weight: 300;
}

#text-login{
    position: absolute;
    color: blue;
}

.wrapper:hover .btn0{
    transition: 0.4s;
    left: 0;
}

.btn1{
    height: 40px;
    width: 150px;
    background-color: transparent;
    color: rgb(248, 20, 20);
    outline: none;
    border: 2px solid rgb(248, 20, 20);
}

.about-contact{
    background: linear-gradient(rgba(4,11, 75, 0.719), rgba(4, 26, 100, 0.73)),url(/assets/img/aboutus.jpg) no-repeat;
    background-size: cover;
    min-height: 50vh;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}

.about-contact h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.apply{
    background: linear-gradient(rgba(4,11, 75, 0.719), rgba(4, 26, 100, 0.73)),url(/assets/img/cool-background.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.apply h1{
    color: white;
}

.apply p{
    color: #A5AACA;
}

.apply .card{
    background-color: #26317F;
    color: white;
}

.cir1{
    height: 100px;
    width: 100px;
    background: transparent;
    border-radius: 100%;
    display: inline-block;
}

.card-body h2{
    font-size: 1rem;
}

.card-body p{
    font-size: 0.9rem;
}

.button_slide_register{
    color: white;
    background-color: #fb246a;
    border: 1px solid #fb246a;
    border-radius: 0px;
    padding: 10px 50px;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
  }

  .slide_right_register:hover{
    box-shadow: inset 400px 0 0 0 #da2461;
   }

.avatar{
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.perac{
    font-size: 1.6rem;
    font-weight: 300;
}

.btn5{
    height: 60px;
    width: 30%;
    outline: none;
    border: none;
    background: rgb(243, 73, 73);
    cursor: pointer;
    color: white;
    transition: all 0.4s;
}

.job h1{
    font-size: 3.5rem;
    color: #28395a;
}

.job .red {
    color: #fb246a;
}

.btn4{
    height: 60px;
    width: 30%;
    outline: none;
    border: none;
    background: #fb246a;
    color: white;
    transition: all 0.4s;
}

.footer{
    background: #121626;
    color: white;
}

.footer p{
    margin: 0;
    color: #69696b;
}

.link{
    color: #6b6b72;
    transition: all 0.4s;
}

.link:hover{
    color: #ff2962;
    padding-left: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

.footer input{
    height: 45px;
    width: 60%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer button{
    height: 45px;
    width: 20%;
    border: none;
    outline: none;
    padding-left: -10px;
    border-top: 1px solid #ff2962;
    background: #ff2962;
    color: white;
    margin-top: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main input{
    height: 71px;
    width: 60%;
    border: none;
    outline: none;
    padding: 15px;
}

.btn2{
    height: 70px;
    width: 25%;
    background-color: #fb246a;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    margin-left: -4px;
}

.button_slide{
  color: #fb246a;
  background-color: white;
  border: 1px solid #fb246a;
  border-radius: 0px;
  padding: 10px 50px;
  display: inline-block;
  font-family: arial;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
    color: white;
  }

.button_slide_categories{
    color: #8b92dd;
  border: 1px solid rgb(130, 130, 231);
  border-radius: 5px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #8b92dd;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  background: transparent;
}

.slide_down:hover {
    box-shadow: inset 0 100px 0 0 #8b92dd;
    color: white;
  }

  
  .search-card:hover{
    transition: all 0.8s;
    
    -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    

    @keyframes flip-vertical-right {
        0% {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
        }
        100% {
          -webkit-transform: rotateY(180deg);
                  transform: rotateY(180deg);
        }
      }
  }

  .search-card:hover::after{
    transition: all 0.6s;
  }

