.blog_area a {
    color: "Muli", sans-serif !important;
    text-decoration: none;
    transition: 0.4s;
  }
  .blog_area a:hover,
  .blog_area a :hover {
    background: -webkit-linear-gradient(131deg, #fb246a 0%, #fb246a 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: 0.4s;
  }
  .single-blog {
    overflow: hidden;
    margin-bottom: 30px;
  }
  .single-blog:hover {
    box-shadow: 0px 10px 20px 0px rgba(42, 34, 123, 0.1);
  }
  .single-blog .thumb {
    overflow: hidden;
    position: relative;
  }
  .single-blog .thumb:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .single-blog h4 {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 34px;
    margin-bottom: 25px;
  }
  .single-blog a {
    font-size: 20px;
    font-weight: 600;
  }
  .single-blog .date {
    color: #666666;
    text-align: left;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
  }
  .single-blog .tag {
    text-align: left;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: 300;
    margin-right: 22px;
    position: relative;
  }
  .single-blog .tag:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 10px;
    background: #acacac;
    right: -12px;
    top: 7px;
  }
  @media (max-width: 1199px) {
    .single-blog .tag {
      margin-right: 8px;
    }
    .single-blog .tag:after {
      display: none;
    }
  }
  .single-blog .likes {
    margin-right: 16px;
  }
  @media (max-width: 800px) {
    .single-blog {
      margin-bottom: 30px;
    }
  }
  .single-blog .single-blog-content {
    padding: 30px;
  }
  .single-blog .single-blog-content .meta-bottom p {
    font-size: 13px;
    font-weight: 300;
  }
  .single-blog .single-blog-content .meta-bottom i {
    color: #fdcb9e;
    font-size: 13px;
    margin-right: 7px;
  }
  @media (max-width: 1199px) {
    .single-blog .single-blog-content {
      padding: 15px;
    }
  }
  .single-blog:hover .thumb:after {
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  @media (max-width: 1199px) {
    .single-blog h4 {
      transition: all 300ms linear 0s;
      border-bottom: 1px solid #dfdfdf;
      padding-bottom: 14px;
      margin-bottom: 12px;
    }
    .single-blog h4 a {
      font-size: 18px;
    }
  }
  .full_image.single-blog {
    position: relative;
  }
  .full_image.single-blog .single-blog-content {
    position: absolute;
    left: 35px;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  @media (min-width: 992px) {
    .full_image.single-blog .single-blog-content {
      bottom: 100px;
    }
  }

  ul{
    list-style-type: none;
  }
  .full_image.single-blog h4 {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-bottom: none;
    padding-bottom: 5px;
  }
  .full_image.single-blog a {
    font-size: 20px;
    font-weight: 600;
  }
  .full_image.single-blog .date {
    color: #fff;
  }
  .full_image.single-blog:hover .single-blog-content {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .l_blog_item .l_blog_text .date {
    margin-top: 24px;
    margin-bottom: 15px;
  }
  .l_blog_item .l_blog_text .date a {
    font-size: 12px;
  }
  .l_blog_item .l_blog_text h4 {
    font-size: 18px;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 0px;
    padding-bottom: 20px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
  .l_blog_item .l_blog_text p {
    margin-bottom: 0px;
    padding-top: 20px;
  }
  .causes_slider .owl-dots {
    text-align: center;
    margin-top: 80px;
  }
  .causes_slider .owl-dots .owl-dot {
    height: 14px;
    width: 14px;
    background: #eeeeee;
    display: inline-block;
    margin-right: 7px;
  }
  .causes_slider .owl-dots .owl-dot:last-child {
    margin-right: 0px;
  }
  .causes_item {
    background: #fff;
  }
  .causes_item .causes_img {
    position: relative;
  }
  .causes_item .causes_img .c_parcent {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    height: 3px;
    background: rgba(255, 255, 255, 0.5);
  }
  .causes_item .causes_img .c_parcent span {
    width: 70%;
    height: 3px;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .causes_item .causes_img .c_parcent span:before {
    content: "75%";
    position: absolute;
    right: -10px;
    bottom: 0px;
    color: #fff;
    padding: 0px 5px;
  }
  .causes_item .causes_text {
    padding: 30px 35px 40px 30px;
  }
  .causes_item .causes_text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
  }
  .causes_item .causes_text p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 0px;
  }
  .causes_item .causes_bottom a {
    width: 50%;
    border: 1px solid;
    text-align: center;
    float: left;
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
  .causes_item .causes_bottom a + a {
    border-color: #eeeeee;
    background: #fff;
    font-size: 14px;
  }
  .latest_blog_area {
    background: #f9f9ff;
  }
  .single-recent-blog-post {
    margin-bottom: 30px;
  }
  .single-recent-blog-post .thumb {
    overflow: hidden;
  }
  .single-recent-blog-post .thumb img {
    transition: all 0.7s linear;
  }
  .single-recent-blog-post .details {
    padding-top: 30px;
  }
  .single-recent-blog-post .details .sec_h4 {
    line-height: 24px;
    padding: 10px 0px 13px;
    transition: all 0.3s linear;
  }
  .single-recent-blog-post .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
  .single-recent-blog-post:hover img {
    transform: scale(1.23) rotate(10deg);
  }
  .tags .tag_btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #eeeeee;
    display: inline-block;
    padding: 1px 18px;
    text-align: center;
  }
  .tags .tag_btn + .tag_btn {
    margin-left: 2px;
  }
  .blog_categorie_area {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media (min-width: 900px) {
    .blog_categorie_area {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  @media (min-width: 1100px) {
    .blog_categorie_area {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }
  .categories_post {
    position: relative;
    text-align: center;
    cursor: pointer;
  }
  .categories_post img {
    max-width: 100%;
  }
  .categories_post .categories_details {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(34, 34, 34, 0.75);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .categories_post .categories_details h5 {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
  }
  .categories_post .categories_details p {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0px;
  }
  .categories_post .categories_details .border_line {
    margin: 10px 0px;
    background: #fff;
    width: 100%;
    height: 1px;
  }
  .categories_post:hover .categories_details {
    background: rgba(222, 99, 32, 0.85);
  }
  .blog_item {
    margin-bottom: 50px;
  }
  .blog_details {
    padding: 30px 0 20px 10px;

  }
  .blog_details:hover{
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
  }
  @media (min-width: 768px) {
    .blog_details {
      padding: 60px 30px 35px 35px;
    }
  }
  .blog_details p {
    margin-bottom: 30px;
  }
  .blog_details a {
    color: #242b5e;
  }
  .blog_details a:hover {
    color: #fb246a;
  }
  .blog_details h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  @media (min-width: 768px) {
    .blog_details h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  .blog-info-link li {
    float: left;
    font-size: 14px;
  }
  .blog-info-link li a {
    color: #999999;
  }
  .blog-info-link li i,
  .blog-info-link li span {
    font-size: 13px;
    margin-right: 5px;
  }
  .blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
  }
  .blog-info-link li:last-child::after {
    display: none;
  }
  .blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table;
  }
  .blog_item_img {
    position: relative;
  }
  .blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background-color: #fb246a;
    padding: 8px 15px;
    border-radius: 5px;
  }
  @media (min-width: 768px) {
    .blog_item_img .blog_item_date {
      bottom: -20px;
      left: 40px;
      padding: 13px 30px;
    }
  }
  .blog_item_img .blog_item_date h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2;
  }
  @media (min-width: 768px) {
    .blog_item_img .blog_item_date h3 {
      font-size: 30px;
    }
  }
  .blog_item_img .blog_item_date p {
    font-size: 18px;
    margin-bottom: 0;
    color: #fff;
  }
  @media (min-width: 768px) {
    .blog_item_img .blog_item_date p {
      font-size: 18px;
    }
  }
  .blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
  }
  .blog_right_sidebar .single_sidebar_widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
  }
  .blog_right_sidebar .single_sidebar_widget .btn_1 {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .blog_right_sidebar .search_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0;
  }
  .blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999999;
  }
  .blog_right_sidebar .search_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none;
  }
  .blog_right_sidebar .search_widget .input-group button {
    background: #fb246a;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
    cursor: pointer;
  }
  .blog_right_sidebar .search_widget .input-group button i {
    color: #fff;
  }
  .blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999999;
  }
  .blog_right_sidebar .newsletter_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
  }
  .blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999999;
  }
  .blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none;
  }
  .blog_right_sidebar .newsletter_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
  }
  .blog_right_sidebar .newsletter_widget .input-group button i,
  .blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #fff;
  }
  .blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 1px solid #f0e9ff;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
  }
  .blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0;
  }
  .blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888888;
  }
  .blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px;
  }
  .blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear;
  }

  .blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear;
    color: #da2461;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
    color: #da2461;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
  }
  .blog_right_sidebar .popular_post_widget .post_item + .post_item {
    margin-top: 20px;
  }
  .blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block;
  }
  .blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;
  }
  .blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #fb246a;
    color: #fff !important;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .blog_right_sidebar .instagram_feeds .instagram_row {
    display: flex;
    margin-right: -6px;
    margin-left: -6px;
  }
  .blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px;
  }
  .blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0px;
  }
  .blog-pagination {
    margin-top: 80px;
  }
  .blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0 !important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px;
  }
  .blog-pagination .page-link i,
  .blog-pagination .page-link span {
    font-size: 13px;
  }
  .blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888888;
  }
  .blog-pagination .page-item:last-child .page-link {
    margin-right: 0;
  }
  .single-post-area .blog_details {
    box-shadow: none;
    padding: 0;
  }
  .single-post-area .social-links {
    padding-top: 10px;
  }
  .single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px;
  }
  .single-post-area .social-links li a {
    color: #cccccc;
    padding: 7px;
    font-size: 14px;
    transition: all 0.2s linear;
  }
  .single-post-area .blog_details {
    padding-top: 26px;
  }
  .single-post-area .blog_details p {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .single_sidebar_widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
  }
  .blog_right_sidebar .single_sidebar_widget .btn_1 {
    margin-top: 0px;
  }
  .blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 1px solid #f0e9ff;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
  }
  .blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0;
  }
  .blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888888;
  }
  .blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px;
  }
  .blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px;
  }
  .blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
  }
  .blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 1px solid #f0e9ff;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
  }
  .blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0;
  }
  .blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888888;
  }
  .blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px;
  }
  .blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px;
  }
  
  .blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear;
    color: #da2461;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
    color: #da2461;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
  }
  .blog_right_sidebar .popular_post_widget .post_item + .post_item {
    margin-top: 20px;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear;
    color: #da2461;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
    color: #da2461;
  }
  .blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
  }
  .blog_right_sidebar .single_sidebar_widget {
    background: #fbf9ff;
    padding: 30px;
    margin-bottom: 30px;
  }
  .blog_right_sidebar .single_sidebar_widget .btn_1 {
    margin-top: 0px;
  }
  .blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block;
  }
  .blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;
  }
  .blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #fb246a;
    color: #fff !important;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #f0e9ff;
  }
  .blog_right_sidebar .instagram_feeds .instagram_row {
    display: flex;
    margin-right: -6px;
    margin-left: -6px;
  }
  .blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px;
  }
  .blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0px;
  }
  .blog_right_sidebar .instagram_feeds .instagram_row {
    display: flex;
    margin-right: -6px;
    margin-left: -6px;
  }
  .blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px;
  }
  .blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0px;
  }
  .blog_right_sidebar .newsletter_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
  }
  .blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999999;
  }
  .blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none;
  }
  .blog_right_sidebar .newsletter_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
  }
  .blog_right_sidebar .newsletter_widget .input-group button i,
  .blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #fff;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 2rem;
    color: red;
}

.nav-link{
    color: rgb(10, 10, 94);
}
.nav-link:hover{
    color: red;
}

.nav-item{
    color: rgb(7, 7, 78);
    padding-left: 35px;
}

.btn0{
    position: absolute;
    left: -150px;
    width: 150px;
    height: 50px;
    background: #da2461;
    transition: 1s;
    border: none;
}

.wrapper{
    position: relative;
    overflow: hidden;
    width: 150px;
    background-color: #fb246a;
    margin-right: 50;
    cursor: pointer;
    left: 30;
}

#text-register{
    font-family: arial;
    position: absolute;
    padding-left: 30;
    padding-top: 5;
    color: white;   
    font-weight: 300;
}

#text-login{
    position: absolute;
    color: blue;
}

.wrapper:hover .btn0{
    transition: 0.4s;
    left: 0;
}

.btn1{
    height: 40px;
    width: 150px;
    background-color: transparent;
    color: rgb(248, 20, 20);
    outline: none;
    border: 2px solid rgb(248, 20, 20);
}

.main{
    background: url(/assets/img/handsomecopy.jpg);
    background-size: cover;
    min-height: 95vh;
    width: 100%;
}

.main h1{
    padding-bottom: 70px;
    font-size: 5.5rem;
    font-weight: 700;
    color: #28395a;
}

/*ceta*/
.red{
    padding-top: 100px;
    color: #fb246a;
    font-size: 0.75rem;
}

.ceta h1{
    font-size: 3.5rem;
    padding-bottom: 80px;
    color: rgb(7, 7, 78);
}

.ceta .card:hover{
    color: #fb246a;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 11px 26px -14px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 11px 26px -14px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 11px 26px -14px rgba(0,0,0,0.45);
}

.btn3{
    height: 70px;
    width: 70%;
    border: 1px solid rgb(130, 130, 231);
    background: transparent;
    color: rgb(130, 130, 231);
    transition: all 0.4s;
}

.resume{
    background: linear-gradient(rgba(4,11, 75, 0.719), rgba(4, 26, 100, 0.73)),url(/assets/img/woman.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.resume h1{
    font-size: 2.7rem;
    padding-left: 100;
}

.resume p{
    font-size: 1rem;
    color: white;
}

.resume .btn3{
    width: 40%;
    border-radius: 5px;
}



.featured-jobs.card:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.featured-jobs h1{
    color: #28395A;
    font-size: 2rem;
}

.featured-jobs .card p{
    color:#253a8e;
}

.featured-job-div{
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .featured-job-div {
      display: flex;
    }

    #row{
        flex-grow: 1;
    }
  }

.apply{
    background: linear-gradient(rgba(4,11, 75, 0.719), rgba(4, 26, 100, 0.73)),url(/assets/img/cool-background.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.apply h1{
    color: white;
}

.apply p{
    color: #A5AACA;
}

.apply .card{
    background-color: #26317F;
    color: white;
}

.cir1{
    height: 100px;
    width: 100px;
    background: transparent;
    border-radius: 100%;
    display: inline-block;
}

.card-body h2{
    font-size: 1rem;
}

.card-body p{
    font-size: 0.9rem;
}

.avatar{
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.perac{
    font-size: 1.6rem;
    font-weight: 300;
}

.btn5{
    height: 60px;
    width: 30%;
    outline: none;
    border: none;
    background: rgb(243, 73, 73);
    cursor: pointer;
    color: white;
    transition: all 0.4s;
}

.job h1{
    font-size: 3.5rem;
    color: #28395a;
}

.btn4{
    height: 60px;
    width: 30%;
    outline: none;
    border: none;
    background: #fb246a;
    color: white;
    transition: all 0.4s;
}

.blog p{
    font-size: 0.75rem;
    color: #fb246a;
}

.blog h1{
    font-size: 2.5rem;
    color: #28395a;
}

.blog .card-body:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.blog .card-body .pic-card{
    zoom: 20;
}

.featured-job-div{
    width: 60%;
    border: 2px solid black;
}

.image-jobs{
    flex: 1;
    bottom: 50%;
}

.image-jobs-kedua{
    flex: 3;
    top: 20%;
    right: 50%;
}

.image-featured-job{
    width: 10%;
    bottom: 45%;
    left: 0%;

}

.button-featured{
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    border: 1px solid blue;
    background-color: #69696b;
    color: green;
    margin-left: 20rem !important;
}

.button-featured:hover{
    color: white;
    background-color: #26317F;
}

.sign-featured{
    margin-top: 5rem;
    margin-right: -10rem !important;
}

.iconDetails {

    height:40px;
    width:50px;	
    float: left;
    border: 1.5px solid black;
   } 
   
   .container2 {
       width:100%;
       height:auto;
       padding:1%;
     border: 1px solid black;
   }
   
   h4 {
       margin:0px;
   }

.text-job-kedua{
    right: 50%;
}

.footer{
    background: #121626;
    color: white;
}

.footer p{
    margin: 0;
    color: #69696b;
}

.link{
    color: #6b6b72;
    transition: all 0.4s;
}

.link:hover{
    color: #ff2962;
    padding-left: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

.footer input{
    height: 45px;
    width: 60%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer button{
    height: 45px;
    width: 20%;
    border: none;
    outline: none;
    padding-left: -10px;
    border-top: 1px solid #ff2962;
    background: #ff2962;
    color: white;
    margin-top: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main input{
    height: 71px;
    width: 60%;
    border: none;
    outline: none;
    padding: 15px;
}

.btn2{
    height: 70px;
    width: 25%;
    background-color: #fb246a;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    margin-left: -4px;
}

.button_slide{
  color: #fb246a;
  background-color: white;
  border: 1px solid #fb246a;
  border-radius: 0px;
  padding: 10px 50px;
  display: inline-block;
  font-family: arial;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
    color: white;
  }

.button_slide_categories{
    color: #8b92dd;
  border: 1px solid rgb(130, 130, 231);
  border-radius: 5px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #8b92dd;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  background: transparent;
}

.slide_down:hover {
    box-shadow: inset 0 100px 0 0 #8b92dd;
    color: white;
  }

.button_slide_resume{
    color: #8b92dd;
    border: 1px solid rgb(130, 130, 231);
    border-radius: 3px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 10px 45px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #8b92dd;
    -webkit-transition: ease-out 0.8s;
    -moz-transition: ease-out 0.8s;
    transition: ease-out 0.6s;
    background: transparent;
}

.flip-vertical-right {
	-webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


  @keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  
  .search-card:hover{
    transition: all 0.8s;
    
    -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    

    @keyframes flip-vertical-right {
        0% {
          -webkit-transform: rotateY(0);
                  transform: rotateY(0);
        }
        100% {
          -webkit-transform: rotateY(180deg);
                  transform: rotateY(180deg);
        }
      }
  }

  .search-card:hover::after{
    transition: all 0.6s;
  }

  .text-first{
    margin-left: -30px;
}
  
.single-job-items {
    padding: 36px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-job-items {
      padding: 20px 7px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-job-items {
      padding: 20px 25px;
    }
  }
  .single-job-items .company-img img {
    overflow: hidden;
    float: left;
    margin-right: 32px;
    z-index: 999;
  }
  @media (max-width: 767px) {
    .single-job-items .job-tittle {
      padding-top: 25px;
    }
  }
  .single-job-items .job-tittle a h4 {
    color: #28395a;
    font-size: 24px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .single-job-items .job-tittle a h4:hover {
    color: #8b92dd;
  }
  .single-job-items .job-tittle ul li {
    display: inline-block;
    margin-right: 48px;
    font-size: 15px;
    color: #808080;
    line-height: 1.8;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-job-items .job-tittle ul li {
      margin-right: 18px;
    }
  }
  @media (max-width: 767px) {
    .single-job-items .job-tittle ul li {
      margin-right: 0px;
      margin-bottom: 7px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .single-job-items .job-tittle ul li {
      margin-right: 8px;
    }
  }
  .single-job-items .job-tittle ul li:last-child {
    margin-right: 0px;
  }
  .single-job-items .job-tittle ul li i {
    font-size: 14px;
    color: #bbbbbb;
    margin-right: 10px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-job-items .job-tittle2 {
      padding-top: 25px;
    }
  }
  .single-job-items:hover {
    box-shadow: 0px 22px 57px 0px rgba(34, 41, 72, 0.05);
  }
  .single-job-items .job-items {
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .items-link {
      padding-top: 35px;
      text-align: center;
    }
  }
  @media (max-width: 767px) {
    .items-link {
      padding-top: 35px;
      text-align: center;
    }
  }
  .items-link a {
    color: #8b92dd;
    display: block;
    border: 1px solid #8b92dd;
    border-radius: 30px;
    padding: 4px 33px;
    text-align: center;
    margin-bottom: 25px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .items-link a {
      padding: 4px 19px;
    }
  }
  .items-link a:hover {
    color: #fff;
    background: #8b92dd;
    border: 1px solid transparent;
  }
  .items-link span {
    color: #454d72;
    display: block;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .items-link2 {
      padding-top: 35px;
      text-align: center;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .items-link2 {
      padding-top: 35px;
      text-align: center;
    }
  }
  
  .featured-job-area{
    margin-top: 8rem !important;
    margin-bottom: 8rem !important;
  }

  .text-featured{
    cursor: pointer;
  }

  .resume-contact{
    background: linear-gradient(rgba(4,11, 75, 0.719), rgba(4, 26, 100, 0.73)),url(/assets/img/aboutus.jpg) no-repeat;
    background-size: cover;
    min-height: 50vh;
    height: 50%;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 10rem !important;
  }

  .search-sidebar{
    border: 1px solid #da2461;
    color: #da2461;
    background-color: transparent;
    font-weight: 200;
  }

  .search-sidebar:hover{
    background-color: #da2461;
    color: white;
    transition: all 0.6s;
  }