.resume-contact{
    background: linear-gradient(rgba(4,11, 75, 0.719), rgba(4, 26, 100, 0.73)),url(/assets/img/aboutus.jpg) no-repeat;
    background-size: cover;
    min-height: 50vh;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}

.resume-contact h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.button_slide{
    color: #fb246a;
    background-color: white;
    border: 1px solid #fb246a;
    border-radius: 0px;
    padding: 10px 50px;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
  }

  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
    color: white;
  }

  .button_slide_register{
    color: white;
    background-color: #fb246a;
    border: 1px solid #fb246a;
    border-radius: 0px;
    padding: 10px 50px;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
  }

  .container-responsive{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    min-height: 50vh;
    min-width: 50vh;
    margin-top: 7rem;
    margin-left: 5rem;
  }

  .responsive-iframe{
    min-height: 50vh;
    min-width: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60%;
    border: none;
    max-width: 180vh;
  }