*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-brand{
  font-size: 2rem;
  color: red;
}

.nav-link{
  color: rgb(10, 10, 94);
}
.nav-link:hover{
  color: red;
}

.nav-item{
  color: rgb(7, 7, 78);
  padding-left: 35px;
}

.btn0{
  position: absolute;
  left: -150px;
  width: 150px;
  height: 50px;
  background: #da2461;
  transition: 1s;
  border: none;
}

.wrapper{
  position: relative;
  overflow: hidden;
  width: 150px;
  background-color: #fb246a;
  margin-right: 50;
  cursor: pointer;
  left: 30;
}

#text-register{
  font-family: arial;
  position: absolute;
  padding-left: 30;
  padding-top: 5;
  color: white;   
  font-weight: 300;
}

#text-login{
  position: absolute;
  color: blue;
}

.wrapper:hover .btn0{
  transition: 0.4s;
  left: 0;
}

.resume-contact{
    background: linear-gradient(rgba(4,11, 75, 0.719), rgba(4, 26, 100, 0.73)),url(/assets/img/aboutus.jpg) no-repeat;
    background-size: cover;
    min-height: 50vh;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}

.resume-contact h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.button_slide{
    color: #fb246a;
    background-color: white;
    border: 1px solid #fb246a;
    border-radius: 0px;
    padding: 10px 50px;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
  }

  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
    color: white;
  }

  .button_slide_register{
    color: white;
    background-color: #fb246a;
    border: 1px solid #fb246a;
    border-radius: 0px;
    padding: 10px 50px;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
  }

  .container-responsive{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
    min-height: 50vh;
    min-width: 50vh;
    margin-top: 7rem;
    margin-left: 5rem;
  }

  .responsive-iframe{
    min-height: 50vh;
    min-width: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 60%;
    border: none;
    max-width: 180vh;
  }

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: white;
  color: #fb246a;
  padding: 12px 20px;
  border: 1px solid #fb246a;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  color: white;
  background-color: #fb246a;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}

  .footer{
    background: #121626;
    color: white;
}

.footer p{
    margin: 0;
    color: #69696b;
}

.link{
    color: #6b6b72;
    transition: all 0.4s;
}

.link:hover{
    color: #ff2962;
    padding-left: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

.footer input{
    height: 45px;
    width: 60%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer button{
    height: 45px;
    width: 20%;
    border: none;
    outline: none;
    padding-left: -10px;
    border-top: 1px solid #ff2962;
    background: #ff2962;
    color: white;
    margin-top: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
