*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.navbar-brand{
    font-size: 2rem;
    color: red;
}

.nav-link{
    color: rgb(10, 10, 94);
}
.nav-link:hover{
    color: red;
}

.nav-item{
    color: rgb(7, 7, 78);
    padding-left: 35px;
}

.btn0{
    position: absolute;
    left: -150px;
    width: 150px;
    height: 50px;
    background: blue;
    transition: 1s;
    border: none;
}

.wrapper{
    position: relative;
    overflow: hidden;
    width: 150px;
    background-color: #fb246a;
    margin-right: 50;
    cursor: pointer;
    left: 30;
}

#text-register{
    position: absolute;
    padding-left: 30;
    padding-top: 5;
    color: white;   
}

#text-login{
    position: absolute;
    color: blue;
}

.wrapper:hover .btn0{
    transition: 0.6s;
    left: 0;
}

.btn1{
    height: 40px;
    width: 150px;
    background-color: transparent;
    color: rgb(248, 20, 20);
    outline: none;
    border: 2px solid rgb(248, 20, 20);
}

.main{
    background: url(/assets/img/handsomecopy.jpg);
    background-size: cover;
    min-height: 95vh;
    width: 100%;
}

.main h1{
    font-size: 5rem;
    font-weight: 800;
}

/*ceta*/
.red{
    padding-top: 100px;
    color: #fb246a;
    font-size: 0.75rem;
}

.ceta h1{
    font-size: 2.5rem;
    color: rgb(7, 7, 78);
}

.ceta.card:hover{
    color: red;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0px 11px 26px -14px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 11px 26px -14px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 11px 26px -14px rgba(0,0,0,0.45);
}

.btn3{
    height: 70px;
    width: 70%;
    border: 1px solid rgb(130, 130, 231);
    background: transparent;
    color: rgb(130, 130, 231);
    transition: all 0.4s;
}

.resume{
    background: linear-gradient(rgba(4,11, 75, 0.719), rgba(4, 26, 100, 0.73)),url(/assets/img/woman.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.resume h1{
    font-size: 3.1rem;
    padding-left: 100;
}

.resume p{
    font-size: 0.75rem;
    color: white;
}

.resume .btn3{
    width: 40%;
    border-radius: 5px;
}

.resume .btn3:hover{
color: #fb246a;
padding-left: 10px;
transition: all 0.4s;
cursor: pointer;
}

.featured-jobs.card:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.featured-jobs h1{
    color: #28395A;
    font-size: 2.5rem;
}

.featured-jobs .card p{
    color:#253a8e;
}

.apply{
    background: linear-gradient(rgba(4,11, 75, 0.719), rgba(4, 26, 100, 0.73)),url(/assets/img/cool-background.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.apply h1{
    color: white;
}

.apply p{
    color: #A5AACA;
}

.apply .card{
    background-color: #26317F;
    color: white;
}

.cir1{
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 50%;
    display: inline-block;
}

.cir1 img{
    border-radius: 50%;
}

.avatar{
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.perac{
    font-size: 1.6rem;
    font-weight: 300;
}

.btn5{
    height: 60px;
    width: 30%;
    outline: none;
    border: none;
    background: rgb(243, 73, 73);
    cursor: pointer;
    color: white;
    transition: all 0.4s;
}

.job h1{
    font-size: 3.5rem;
    color: #28395a;
}

.btn4{
    height: 60px;
    width: 30%;
    outline: none;
    border: none;
    background: rgb(243, 73, 73);
    color: white;
    transition: all 0.4s;
}

.blog p{
    font-size: 0.75rem;
    color: #fb246a;
}

.blog h1{
    font-size: 2.5rem;
    color: #28395a;
}

.blog .card-body:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.blog .card-body .pic-card{
    zoom: 20;
}

.footer{
    background: #121626;
    color: white;
}

.footer p{
    margin: 0;
    color: #69696b;
}

.link{
    color: #6b6b72;
    transition: all 0.4s;
}

.link:hover{
    color: #ff2962;
    padding-left: 10px;
    transition: all 0.4s;
    cursor: pointer;
}

.footer input{
    height: 45px;
    width: 60%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer button{
    height: 45px;
    width: 20%;
    border: none;
    outline: none;
    padding-left: -10px;
    border-top: 1px solid #ff2962;
    background: #ff2962;
    color: white;
    margin-top: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.main input{
    height: 71px;
    width: 60%;
    border: none;
    outline: none;
    padding: 15px;
}

.btn2{
    height: 70px;
    width: 25%;
    background-color: rgb(243, 73, 73);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    margin-left: -4px;
}

.button_slide{
    color: #FFF;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 10px 40px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.6s;
}

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
  }